


<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
           <!-- <app-breadcrumbs></app-breadcrumbs>-->

            <!-- Mi sistema de rutas -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <router-outlet></router-outlet>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer id="dk-footer" class="dk-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="dk-footer-box-info" align="center">
                            <a href="index.html" class="footer-logo" align="center">
                                <img src="./assets/images/exploraoaxaca.png" align="center" width="50%" alt="footer_logo" class="img-fluid">
                            </a>
                            <p class="footer-info-text" style="color: white;">
                                Explora Oaxaca es una plataforma creada por Oaxaqueños que tiene el objetivos de difundir los lugares turísticos del hermoso Estado de Oaxaca.
                            </p>
                            <div class="footer-social-link">
                                <h3>Siguenos</h3>
                                <ul>
                                    <li>
                                        <a href="https://web.facebook.com/Oaxaca-Explora-100942492471778" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                 
                                </ul>
                            </div>
                            <!-- End Social link -->
                        </div>
                        <!-- End Footer info -->
                   
                    </div>
                    <!-- End Col -->
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-us">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-o" aria-hidden="true"></i>
                                    </div>
                                    <!-- End contact Icon -->
                                    <div class="contact-info">
                                        <h3>Santiago Jamiltepec</h3>
                                        <p>Oaxaca, Oaxaca.</p>
                                    </div>
                                    <!-- End Contact Info -->
                                </div>
                                <!-- End Contact Us -->
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6">
                                <div class="contact-us contact-us-last">
                                    <div class="contact-icon">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    </div>
                                    <!-- End contact Icon -->
                                    <div class="contact-info">
                                        <h3>+52 954 211 0179</h3>
                                        <p>Llamanos</p>
                                    </div>
                                    <!-- End Contact Info -->
                                </div>
                                <!-- End Contact Us -->
                            </div>
                            <!-- End Col -->
                        </div>
                        <!-- End Contact Row -->
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget footer-left-widget">
                                    <div class="section-heading">
                                        <h3>Acceso rapido</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                    <ul> 
                                        <li>
                                            <a [routerLink]="['./cosasquehacer/']" >Buscar</a>
                                          </li> 
                                    </ul> 
                                  
                                </div>
                                <!-- End Footer Widget -->
                            </div>
                            <!-- End col -->
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget">
                                    <div class="section-heading">
                                        <h3>Descarga</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                   
                                    <ul>
                                        <li>
                                            <a href="https://play.google.com/store/apps/details?id=com.proyectomonarca.traveloaxaca" target="_blank">Aplicación para Android</a>
                                        </li>
                                    </ul>
                                    <!-- End form -->
                                </div>
                                <!-- End footer widget -->
                            </div>
                            <!-- End Col -->
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Widget Row -->
            </div>
            <!-- End Contact Container -->
    
    <br>  <br>  <br>  <br>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Copyright © 2022, Todos los derechos reservado | Explora Oaxaca</span>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="copyright-menu">
                                <ul> 
                                    <li>
                                        <a  [routerLink]="['./avisoprivacidad/']">Aviso de Privacidad</a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <!-- End col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Copyright Container -->
            </div>
            <!-- End Copyright -->
          
    </footer>
    
          <!-- Footer -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>

