 <p><strong>&nbsp;&iquest;Qui&eacute;nes somos?</strong></p>
 <p>&nbsp;Prudencio Velasco Palacios, mejor conocido como Explora Oaxaca, con domicilio en calle Calle 20 de noviembre,
   colonia la Guadalupe, ciudad Santiago Jamiltepec, municipio o delegaci&oacute;n Santiago Jamiltepec, c.p. 71700, en
   la entidad de Oaxaca, pa&iacute;s M&eacute;xico, y portal de internet proyecto.explora.oaxaca@gmail.com, es el
   responsable del uso y protecci&oacute;n de sus datos personales, y al respecto le informamos lo siguiente:</p>
 <p><strong>&nbsp;&iquest;Para qu&eacute; fines utilizaremos sus datos personales? </strong></p>
 <p>De manera adicional, utilizaremos su informaci&oacute;n personal para las siguientes finalidades secundarias que no
   son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atenci&oacute;n:
 </p>
 <ul>
   <li>Correo electr&oacute;nico</li>
   <li>Nombre completo</li>
   <li>Foto de perfil</li>
   <li>Fecha de registro</li>
   <li>Ubicaci&oacute;n GPS</li>
 </ul>
 <p>En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, ind&iacute;quelo a
   continuaci&oacute;n:</p>
 <p>No consiento que mis datos personales se utilicen para los siguientes fines:</p>
 <p>[ ] Correo electr&oacute;nico</p>
 <p>[ ] Nombre completo</p>
 <p>[ ] Foto de perfil</p>
 <p>[ ] Fecha de registro</p>
 <p>[ ] Ubicaci&oacute;n GPS</p>
 <p>La negativa para el uso de sus datos personales para estas finalidades no podr&aacute; ser un motivo para que le
   neguemos los servicios y productos que solicita o contrata con nosotros.</p>
 <p><strong>&iquest;D&oacute;nde puedo consultar el aviso de privacidad integral? </strong></p>
 <p>Para conocer mayor informaci&oacute;n sobre los t&eacute;rminos y condiciones en que ser&aacute;n tratados sus datos
   personales, como los terceros con quienes compartimos su informaci&oacute;n personal y la forma en que podr&aacute;
   ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral en: Vinculo dentro de la aplicaci&oacute;n
   y pagina web</p>
