:host ::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    margin-bottom: 10px;
}
.note-text {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 
 .show-less {
    height: 4rem;
    overflow: hidden;
    padding: 1rem;
}
.subrayado{
    text-decoration: none;
}
.card-img-top {
    flex-grow: 1;
    object-fit:contain;
}
.card-body{
    flex-grow:0;
}
.global {
	height: 300px;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}